* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-image: linear-gradient(to right, rgb(14, 153, 233) , rgb(156, 199, 224));
    background-size: cover;

}
#app {
margin: auto;
width: 50%;
background-color: white;
margin-top: 5em;

}
#container {
    height: 8em;
 
}
#input-task {
    width: 400px;
    height: 3.5em;
    
   margin-top: 0;
margin-left: 1.5em;
    border: none;
}
.task-btn {
   width: 5em;
    height: 3.5em;
    margin-top: .5em;
    border: 0;
    background-color: rgb(1, 141, 255);
color: #ffffff;
}

#bbttnn {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#bbttnn button {
    padding: 10px 50px;
    font-weight: 700;
    border: none;
    background-color: white;
}
#bbttnn #all-task:hover {
    border-bottom:3px solid rgb(1, 141, 255) ;
    
}
#bbttnn #todo-task:hover {
    border-bottom:3px solid rgb(1, 141, 255) ;
}
#bbttnn #complete-task:hover {
    border-bottom:3px solid rgb(1, 141, 255) ;
}
#content {
    background-color: rgb(202, 202, 202);
display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 15px;
margin-top: 2em;
}
p {
    color: red;
    
}